.form {
    border: solid gray 3px;
    background-color: white;
    margin: 500px;
    padding: 100px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: 15%;
}
body {
    background-color: lightskyblue;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.submit-button {
    background: blue;
    width: 215px;
    color: white;
    height: 30px;
    border-radius: 5px;
    margin: 15px;
}

.email {
    margin: 15px;
    padding: 5px;
    width: 200px;
}

.username {
    margin: 15px;
    padding: 5px;
    width: 200px;
}

.password {
    margin: 15px;
    padding: 5px;
    width: 200px;
}

.confirm-password {
    margin: 15px;
    padding: 5px;
    width: 200px;
}

.about-us {
    border: solid gray 2px;
    float: right;
    color: white;
    padding: 10px;
    background-color: blue;
    margin: 5px;
    border-radius: 5px;
}

.register {
    border: solid gray 2px;
    float: right;
    color: white;
    background-color: blue;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.about-us-register {
    border-bottom: solid gray 5px;
    background-color: white;
    padding: 5%;
    padding-top: 25px;
}

.amazon {
    width: 60px;
    height: 40px;
}

.facebook {
    width: 55px;
    height: 40px;
}

.github {
    width: 55px;
    height: 45px;
}

.instagram {
    width: 45px;
    height: 40px;
}
